# Arquivos do python e compilados
*.pyc
*.pdf
*.pyi

.idea/misc.xml

Daos/producao.db

systemLog/historicoLogs/*
/envCliente/

.idea/

sync/syncFile/*

# Arquivos de cache
cache/.loginOld.json
cache/.escritorio.json
cache/.login.json
cache/login.json

DocGerados/*

prevCliEnv/

.sync/*

.templates/.~lock.requerimentoAdm.docx#
/Resources/teste.svg
