
*.pyc

*.pdf

*.pyi

.idea/misc.xml

Daos/producao.db

systemLog/historicoLogs/*
/envCliente/

.idea/

cache/login.txt

sync/syncFile/*

cache/.loginOld.txt

cache/.escritorio.txt

cache/.login.txt

DocGerados/*

prevCliEnv/

.sync/*

.templates/.~lock.requerimentoAdm.docx#
