
*.pyc

*.pdf

*.pyi

.idea/misc.xml

Daos/producao.db

systemLog/historicoLogs/*
/envCliente/

.idea/

cache/login.json

sync/syncFile/*

cache/.loginOld.json

cache/.escritorio.json

cache/.login.json

DocGerados/*

prevCliEnv/

.sync/*

.templates/.~lock.requerimentoAdm.docx#
